@charset "UTF-8";

*{
	font-family:Arial, sans-serif;
	background:#fff;
	color:#111;
	padding:20px;
	}
	.site{max-width:1200px;margin:0 auto}
	
	.cart-btn {
		background: transparent;
		padding: 5px;
		border: 1px solid #000;
		text-decoration: none;
		box-shadow: 4px 4px #000;
		position: relative;
		z-index: 200;
		float: right;
		bottom: 0;
		right: 5px;
	}
	
	header{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:10px 0;
	border-bottom:1px solid #111;
	}
	.brand{font-weight:bold;font-size:40px;}
	nav a{margin-left:15px;text-decoration:none;color:#111;}
	nav a:hover{color:#555;}
	
	.welcome {
		padding: 0 20px 0 20px;
	}
	
	.hero{padding:10px 0;}
	.hero h1{font-size:30px;margin-bottom:10px;padding: 0;}
	.hero p{max-width:600px;color:#333;padding: 0;}
	
	
	.section-title{margin:10px 0 10px;font-size:22px;font-weight:bold;}
	.grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(200px,1fr));gap:20px;}
	.card{
	border:1px solid #111;
	border-radius:6px;
	padding:5px;
	max-width: 350px;
	height: auto;
	}
	.card h1{font-size: 30px;margin: 0;padding: 10px 5px 0 5px;}
	.card p{color:#333;font-size:20px;
	padding: 0 5px 0 5px;}
	.card strong {
		padding: 0 20px 0 0;
	}
	.card .avail {
		font-size: 15px;
	}
	
	.card .desc {
	font-size: 15px;
	}
	
	li {
		text-decoration: none;
		list-style: none;
		padding: 0;
	}
	.card li {
		font-size: 20px;
		font-weight: 600;
		
	}
	
	.form-section {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 400px;
	align-items: center;
	}
	
	.form-section input {
		margin: 0 0 20px 0;
	}
	
	main {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	
	input, textarea {
		border: 1px solid #000;
		float: right;
	}
	
	footer{margin-top:40px;padding-top:15px;border-top:1px solid #111;color:#333;display:flex;justify-content:space-between;flex-wrap:wrap;}